.pagination {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.pagination li {
    display: block;
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 600px;
}